@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url(../public/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



*,
html {
    ::-webkit-scrollbar {
        width: 4px !important;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #4b5563 !important;
        border-radius: 20px !important;
        border: 1px solid #f0f0f0 !important; 
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #4b5563 !important;
    }

    ::-webkit-scrollbar-track {
        background-color: #f0f0f0 !important;
        border-radius: 20px !important;
    }

    scrollbar-color: #4b5563 #f0f0f0 !important; 
    scrollbar-width: thin !important;

    ::-ms-scrollbar {
        width: 4px !important;
    }

    ::-ms-scrollbar-thumb {
        background-color: #4b5563 !important;
        border-radius: 20px !important;
        border: 1px solid #f0f0f0 !important;
    }

    ::-ms-scrollbar-thumb:hover {
        background-color: #4b5563 !important;
    }

    ::-ms-scrollbar-track {
        background-color: #f0f0f0 !important;
        border-radius: 20px !important;
    }
}


.shake {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}